@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif, serif;
  font-weight: 300;
  background-color: #3b3c38;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  outline: 0;
  border: 0;
  background-color: #e6e6e6;
  font-size: 0.9rem;
  line-height: 20px;
  border-radius: 4px;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

select {
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}

img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  width: 8rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.603);
}

button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.26);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #a89157;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4c67aab;
}

::-webkit-scrollbar-track {
  background: #323330;
  box-shadow: inset 0 0 0 0 #f0f0f0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../assets/home-background.png");
}

.header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  padding: 0.5rem 0;
  background: #323330;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 6px 4px;
  z-index: 1;
}

.header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.header a {
  height: 2rem;
  z-index: 2;
}

.header a img {
  height: 100%;
  margin-left: 1.3rem;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
  }
  .header header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header a img {
    margin: 0;
  }
}

.header__search {
  position: relative;
  display: flex;
  justify-content: center;
}

.header__search * {
  color: rgba(255, 255, 255, 0.363);
}

.header__search input {
  width: 250px;
  padding: 0.5rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: width 0.5s ease;
}

.header__search input:focus {
  width: 300px;
}

@media screen and (max-width: 480px) {
  .header__search input {
    width: 150px;
  }
  .header__search input:focus {
    width: 170px;
  }
}

.header__search i {
  position: absolute;
  align-self: center;
  left: 0;
  margin: 0 1rem;
}

.header__avatar {
  cursor: pointer;
}

.header__avatar img {
  object-fit: cover;
  border-radius: 50%;
}

.sidebar {
  width: 18%;
  max-height: 20vh;
  margin-top: 100px;
  position: fixed;
  background-color: rgba(171, 218, 231, 0.089);
  border-right: 3px solid rgba(255, 255, 255, 0.253);
  border-top: 1px solid rgba(255, 255, 255, 0.253);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(12px);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  z-index: 10;
}

.nav__expand {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: -1rem;
  fill: #beab7a;
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.664);
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  transform: rotatez(-180deg);
  transition: transform 300ms ease-in-out;
}

.nav__expand:hover {
  fill: #a89157;
}

.nav__expand-closed {
  left: 0;
  transform: rotatez(0);
}

.sidebar-closed {
  width: 0;
  border: 0;
}

.sidebar-closed ul {
  display: none;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar__list-item {
  width: 80%;
  padding: 1rem 0;
  font-weight: 400;
  text-align: center;
}

.sidebar__list-item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.sidebar__list-item a:hover {
  color: rgba(255, 255, 255, 0.568);
}

.container {
  position: absolute;
  height: 100vh;
  margin: 100px 0 0 270px;
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;
    margin-top: 100px;
    z-index: -5;
  }
}

.form {
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 190px;
  margin-bottom: 40px;
  background: rgba(171, 223, 238, 0.089);
  border-radius: 10px;
  box-shadow: rgba(102, 99, 69, 0.705) 0 8px 40px -16px;
}

@media screen and (max-width: 480px) {
  .form {
    margin-left: 20px;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
  }
}

.form__item {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

.form__item:not(:last-child) {
  margin-bottom: 1rem;
}

.form__item textarea,
.form__item input:not([type="radio"]) {
  width: 100%;
  padding: 0.3rem;
}

.form__item p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #ffe194;
}

.form__item button {
  display: block;
  margin: 0.8rem auto;
}

.input-radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 1.8rem;
}

.input-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.input-radio input:checked ~ .checkmark {
  background-color: #ffe194;
}

.input-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
  border-radius: 50%;
}

.input-radio .checkmark:hover {
  background-color: #ccc;
}

.input-radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
  padding: 0 2rem;
}

.grid__item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.7rem;
  background: rgba(171, 223, 238, 0.089);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.grid__item:hover {
  transform: scale(1.1);
}

.grid__item-img {
  align-self: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.grid__item-img img {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.grid__item-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.6rem;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.055);
}

.grid__item-body h2 {
  margin: 8px 0;
  font-size: 1.2rem;
  color: #e4c67aab;
}

.grid__item-body p {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 80%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #a89157;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  z-index: 50;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal__header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333;
}

.modal__header .close-button {
  float: right;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__body {
  padding: 10px 15px;
}

.modal__list li {
  color: #333;
  padding: 0.5rem;
}

.modal__list li:not(:last-child) {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.603);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */