$breakpoints: (
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin sm {
  @media screen and (max-width: map-get($breakpoints, "sm" )) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: map-get($breakpoints, "md" )) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: map-get($breakpoints, "lg" )) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: map-get($breakpoints, "xl" )) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media screen and (max-width: $bp) {
    @content;
  }
}
