$body-bg: rgb(59, 60, 56);
$header-bg: #323330;
$header-color: hsla(0, 0%, 100%, 0.363);
$searchbar-bg: rgba(0, 0, 0, 0.2);
$sidebar-bg: rgba(171, 218, 231, 0.089);
$nav-icon-fill: #beab7a;
$nav-icon-hover: #a89157;
$form-grid-bg: rgba(171, 223, 238, 0.089);
$item-color: hsla(0, 0%, 100%, 0.8);
$form-p-color: #ffe194;
$grid-item-body-bg: rgba(0, 0, 0, 0.055);
$grid-item-title: #e4c67aab;
$grid-item-desc: hsla(0, 0%, 100%, 0.6);
